# CAP ccodataservice
_out
*.db
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
coverage/
package-lock.json
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
.vscode
# .idea

# auto generated wildcard
ccodatataservice_v3/gen/db/.env
# auto generated wildcard
ccodatataservice_v3/db/.env
# auto generated wildcard
ccodataservice/db/.env
# auto generated wildcard
cc_odata_service/gen/db/.env
# auto generated wildcard
cc_odata_service/gen/db/.env